/* Estilos moodle modificados */
.section .label .contentwithoutlink, .section .label .activityinstance {
    padding-right: 0px;
}

.esconder-v5-1,
.esconder-v5-2,
.esconder-v5-3,
.esconder-v5-4,
.esconder-v5-5,
.esconder-v5-6 {
    display: none;
}

.mostrar-v5-1, .mostrar-v5-2, .mostrar-v5-3, .mostrar-v5-4, .mostrar-v5-5{
    display: block;
}


/* Estilos generales */

body {
    font-family: "Century Gothic", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* Color de fondo de la página */
}

.containerg-v5 {
    /* max-width: 1080px; /* Ancho máximo del contenido */ 
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 0px; /* Agrega espacio alrededor del contenido */
}

/* Estilos para las secciones */
section {
    padding: 0px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

/* Estilos específicos para cada sección, como se mencionaron anteriormente */


img {
    max-width: 100%;
    height: auto;
}




/* Estilos para la Sección 2 */



.seccion2op1-v5 {
    display: flex;
    flex-direction: column;
}

.seccion2op1-v5b{
    position: relative;
    display: flex;
    color: #FFF;
    margin-bottom: 20px;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.imagen-fondo-v5 {
    width: 100%;
    z-index: 0;
}

.textobanner-v5 img{
    width: 300px;
}
.textobanner-v5 h1{
    font-size: 45px;
    margin: 10px;
    line-height: 45px;;
}
.textobanner-v5 {
    position: absolute;
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.imagen-pequena01-v5 {
    width: 150px;
    margin-right: 25px;
    margin-left: 15px;
}
.cont-clase-v5, .cont-clase-v5-p2 {
    background-color: #F7931E;
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
    width: fit-content;
}
.cont-clase-v5 p {
    font-weight: bold; /* Hacer que el texto dentro del párrafo esté en negrita */
    margin: 5px;
}


.rectangulos01-v5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.rectangulo01-v5 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%; /* Ajusta el ancho de los rectángulos */
    height: auto;
    padding: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 15px;
}
.texto-rectangulo01-v5 {
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
}

.contenedorinteractivo-v5{
    display: flex;
}

.centrado-v5 {
    display: flex;
    justify-content: center;
}


.seccion2b {
    display: flex;
    margin-bottom: 20px;
    max-height: 417px; /* Altura máxima de la sección */
    height: 100px; /* Altura del rectángulo */
    background-color: #f4f4f4; /* Color de fondo */
    border-bottom-left-radius: 20px; /* Radio de borde para la esquina inferior izquierda */
    border-bottom-right-radius: 20px; /* Radio de borde para la esquina inferior derecha */
    margin-top: -25px;
    position: relative; /* Para posicionar la imagen relativa a este div */
    z-index: 1; /* Asegurar que la imagen esté detrás del contenido */
    align-items: center;
    flex-direction: column; /* Para apilar elementos verticalmente */
    justify-content: center; /* Para centrar verticalmente */    
    position: relative; /* Asegura que el z-index funcione correctamente */

}
.texto-columnas02 {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    margin-left: 80px;
    font-family: "Inter", sans-serif; /* Fuente del texto */
}

.texto-columnas02 p{
    margin-top: 18px;
}



.columna02 {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos de la columna */
    margin: 10px; /* Espacio entre las columnas */
    color: #4d4d4d;
    font-size: 15px;
    font-weight: bold;
    margin-right: 66px;
}

.imagen-columna02 {
    width: 40px; /* Tamaño de las imágenes */
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.imagen-columna02b-v5 {
    height: 100%;
    width: 50px;
    margin-right: 20px;
    margin-top: -10px;
}

.img-centrada {
    position: relative; /* Asegura que el z-index funcione correctamente */

    margin-top: -18px;
    width: 65%; /* Anchura de la imagen */
    z-index: 9999; /* Asegurar que la imagen esté enfrente de todo el contenido */

}

.columna1 {
    flex: 1;
    padding: 0 px;
    display: flex;
    justify-content: flex-start; /* Alinea la imagen a la izquierda */
    align-items: flex-start; /* Alinea la imagen en la parte superior */
    overflow: hidden; /* Oculta cualquier contenido que desborde de la columna */
    background-color: #4D4D4D;
}

.columna1 img {
    max-height: 100%; /* La imagen se ajusta al 100% de la altura de la columna */
    width: auto;
    max-width: 100%; /* Ancho máximo relativo al 100% del ancho de la columna */
}

.columna2 {
    flex: 1;
    padding: 0px;
    display: flex;
    align-items: center;
    background-color: #4D4D4D;
}

.rectangulo {
    width: 13.853px;
    height: 114.085px;
    background-color: #F7931E;
    margin-right: 20px; /* Espacio entre el rectángulo y el contenido de texto */
    margin-left: 20px; /* Espacio entre el rectángulo y la imagen */
}

.rectangulobanner{
    width: 13.853px;
    height: 75.085px;
    background-color: #F7931E;
    margin-right: 20px; /* Espacio entre el rectángulo y el contenido de texto */
    margin-left: 20px; /* Espacio entre el rectángulo y la imagen */
}


.contenido-columna2 h1,
.contenido-columna2 h2,
.contenido-columna2 p {
    font-family: "Century Gothic", sans-serif; 
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 0.9;
    margin: 0px;
    margin-bottom: 5px;
}


.contenido-columna2 h1 {
    color: #FFF;
}

.contenido-columna2 h2 {
    color: #F7931E;
    font-size: 40px;
}

.contenido-columna2 p {
    font-weight: bold; /* Hacer que el texto dentro del párrafo esté en negrita */
    margin: 5px;
    font-size: 10px;
}





/* Sección 3 */
.contenedordebotones-v5-v5 {
    display: flex;
    flex-direction: row; /* Cambia la dirección del flujo a horizontal (por defecto) */
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    justify-content: space-between; /* Espacio entre los elementos */
    margin-top: 10px;
    z-index: 1;
}
#botones {
    display: flex;
    flex-direction: column; /* Cambia la dirección del flujo a vertical */
}


button {
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

.boton1v{

    margin: 15px;
    width: 145px;
    height: 145px;
    flex-shrink: 0;
    border-radius: 11px;
    background-color: #F7931E; /* Cambia el fondo al pasar el cursor */    
    border: 2px solid #F7931E; /* Borde del botón */
    margin-right: 20px; /* Espacio entre los botones */
    color: #fff; /* Color de texto al pasar el cursor */
    font-family: "Inter", sans-serif; /* Fuente del texto */
    font-size: 15.224px; /* Tamaño de fuente */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;

}

.boton1{
    margin: 15px;
    width: 145px;
    height: 145px;
    flex-shrink: 0;
    border-radius: 11px;
    background-color: #F4F4F4; /* Cambia el fondo al pasar el cursor */    
    border: 2px solid #F4F4F4; /* Borde del botón */
    margin-right: 20px; /* Espacio entre los botones */
    color: #4D4D4D; /* Color de texto al pasar el cursor */
    font-family: "Inter", sans-serif; /* Fuente del texto */
    font-size: 15.224px; /* Tamaño de fuente */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
}
.boton1v img {
    max-width: 44.224px;
    max-height: 44.8px;
    width: auto; /* Ajusbcta el ancho automáticamente para mantener la proporción */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    filter: grayscale(100%); /* Convierte la imagen a escala de grises */
}

.boton1 img {
    max-width: 44.224px;
    max-height: 44.8px;
    width: auto; /* Ajusbcta el ancho automáticamente para mantener la proporción */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    filter: grayscale(100%); /* Convierte la imagen a escala de grises */
}
.boton1:hover{
    color:#F7931E;
    cursor: pointer;
}
.boton1:hover .filtro, .boton2:hover .filtro{
    filter: invert(65%) sepia(18%) saturate(2554%) hue-rotate(346deg) brightness(100%) contrast(95%);

}
.boton1v .filtro{
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(301deg) brightness(102%) contrast(101%);
}

.boton1 .filtro{
    filter: invert(29%) sepia(1%) saturate(1600%) hue-rotate(322deg) brightness(104%) contrast(97%);
}



/* Estilos para los botones en la Sección 3 */
.boton-seccion3 {
    margin: 15px;
    width: 145px;
    height: 145px;
    flex-shrink: 0;
    border-radius: 11px;
    background-color: #F4F4F4; /* Fondo del botón */
    border: 2px solid #F4F4F4; /* Borde del botón */
    margin-right: 20px; /* Espacio entre los botones */
    color: #4D4D4D; /* Color de texto */
    font-family: "Inter", sans-serif; /* Fuente del texto */
    font-size: 15.224px; /* Tamaño de fuente */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilo para cambiar el color del texto cuando se pasa el cursor sobre el botón */
.boton-seccion3:hover {
    background-color: #F7931E; /* Cambia el fondo al pasar el cursor */
    border-color: #F7931E; /* Mantén el borde con el mismo color */
    color: #fff; /* Color de texto al pasar el cursor */
}

/* Estilo para la imagen en su estado normal */
.boton-seccion3 img {
    max-width: 44.224px;
    max-height: 44.8px;
    width: auto; /* Ajusta el ancho automáticamente para mantener la proporción */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    filter: grayscale(100%); /* Convierte la imagen a escala de grises */
    transition: filter 0.3s ease-in-out; /* Agrega una transición suave */
}

.boton-seccion3:hover .filtro{
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(301deg) brightness(102%) contrast(101%);

}
.boton-seccion3 .filtro{
    filter: invert(29%) sepia(1%) saturate(1600%) hue-rotate(322deg) brightness(104%) contrast(97%);
}

.boton-seccion3.activo {
    background-color: #F7931E; /* Cambia el fondo al pasar el cursor */
    border-color: #F7931E; /* Mantén el borde con el mismo color */
    color: #fff; /* Color de texto al pasar el cursor */
}
.boton-seccion3.activo img{
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(301deg) brightness(102%) contrast(101%);
}


/* Estilo para el contenedor de información */

#informacion-v5 {
    display: flex;
    flex-direction: column; /* Cambia la dirección del flujo a vertical */
    background-color: #F4F4F4;
    height: auto;
    padding: 20px;
    margin-top: 0px;
    position: relative;
    z-index: 1;
    border-radius: 15px;
    width: 100%;
}


/* Estilo para la sección  1 informacion-v5*/


/* Estilo para la columna de texto */
.seccion-contenido1{
    display: flex;
    align-items: center; /* Centrar verticalmente el contenido */
    margin-top: 100px;
    flex-direction: column;
}


.columna-rectangulo {
    width: 8px; /* Ancho del rectángulo */
    height: 74px; /* Altura del rectángulo */
    background-color: #606060; /* Color de fondo del rectángulo */
    margin: 20px 20px; /* Margen derecho para separar del texto */
}

/* Estilo para el título */
.columna-texto-v5 h2 {
    
    stroke-width: 2px;
    color: #F7931E;
    font-size: 15.878px;
}
/* Estilo para el párrafo */
.columna-texto-v5 p {
    
    color: #4D4D4D;
    font-family: 'Inter', sans-serif;
    font-size: 15.878px;
    font-style: normal;
    line-height: normal;
}

/* Estilo para la Sección 2 informacion-v5*/

.seccion-contenido2{
    display: flex;
    justify-content:center;
    align-items: center; /* Centrar verticalmente el contenido */
    margin-top: 80px;
}

#seccion2-info p {
    text-align: center;
    font-size: 14px; /* Tamaño de fuente para el párrafo */
    color: #4D4D4D; /* Color de texto para el párrafo */
    font-weight: 400;
    
    padding: 40px 40px;
}

.imagen-seccion {
    width: 40px; /* Establece el ancho fijo que desees para las imágenes */
    height: auto; /* Esto mantiene la proporción original de la imagen */
}

/* Estilo para la Sección 3 informacion-v5*/


/* Estilo para las tres columnas */

#seccion3-info-v5{
    display: flex;
    flex-direction: row;
    padding: 120px;
    justify-content: center
}

.seccion3-info-v5 p{

    margin-left: 0px;
    font-size: 14px; /* Tamaño de fuente para el párrafo */
    color: #4D4D4D; /* Color de texto para el párrafo */
    font-weight: 400;
}
.seccion3-info-v5 h2{
    stroke-width: 2px;
    color: #F7931E;
    font-size: 15.878px;
}
.seccion-contenido3{
    display: flex;
}


/* Estilo individual para cada columna */
.columna-seccion3 {
    display: flex; /* Usar flexbox para alinear las columnas horizontalmente */
    justify-content: space-between; /* Espacio entre las columnas */
    margin-top: 0px; /* Margen superior para separar el párrafo de las columnas */
    flex-direction: row; /* Cambiar la dirección a horizontal */
    align-items: flex-start; /* Alinea la imagen en la parte superior */
    
}

/* Estilo para el contenido dentro de las columnas */
.columna-seccion3 h3 {
    font-size: 24px; /* Tamaño de fuente para el título de la columna */
    color: #333; /* Color de texto para el título de la columna */
}

.columna-seccion3 p {
    margin-top: 0px;
    margin-right: 10px;
    font-size: 14px; /* Tamaño de fuente para el texto dentro de la columna */
    color: #666; /* Color de texto para el texto dentro de la columna */
    margin-left: 20px;
}

.columna-seccion3 img {
    display: flex;
    align-items: flex-start; /* Alinea la imagen en la parte superior */
    max-width: 20%;
}

/* Estilo para la Sección 4 informacion-v5*/


/* Estilo para las tres columnas */
#seccion4-info{
    display: flex;
    align-items: center; /* Centrar verticalmente el contenido */
    justify-content: space-between; /* Espacio entre las columnas */
    margin-top: 100px; /* Margen superior para separar el párrafo de las columnas */
    padding: 120px;
}

.seccion4-info p{

    margin-left: 0px;
    font-size: 14px; /* Tamaño de fuente para el párrafo */
    color: #4D4D4D; /* Color de texto para el párrafo */
    font-weight: 500;
}
.seccion4-info h2{
    stroke-width: 2px;
    color: #F7931E;
    font-size: 15.878px;
}
.seccion-contenido4{
    display: flex;
}


/* Estilo individual para cada columna */
/* Estilo para el contenedor de las columnas */
.seccion-contenido4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Divide en tres columnas de igual ancho */
    gap: 5px; /* Espacio entre las columnas */
}

.columna-seccion4 {
    display: flex;
    align-items: flex-start; /* Alinea la imagen en la parte superior */
    text-align: left; /* Texto alineado a la izquierda */
    padding: 10px;
    border: 0px solid #ccc; /* Borde para separar las columnas visualmente */
}


.columna-seccion4 p {

    font-size: 14px;
    color: #666;
    margin-left: 0; /* Ajusta el margen izquierdo para que el texto esté alineado a la izquierda */
}

.columna-seccion4 img {
    margin-right: 20px; /* Espacio entre la imagen y el texto */
}


/* Estilo para la Sección 5 informacion-v5*/


/* Estilo para las tres columnas */
#seccion5-info{
    display: flex;
    align-items: center; /* Centrar verticalmente el contenido */
    justify-content: space-between; /* Espacio entre las columnas */
    margin-top: 100px; /* Margen superior para separar el párrafo de las columnas */
    padding: 120px;
}

/* Estilo para la Sección 6 informacion-v5*/


/* Estilo para una columna*/
#seccion6-info-v5{
    display: flex;
    align-items:center; /* Centrar verticalmente el contenido */
    justify-content: center; /* Espacio entre las columnas */
    margin-top: 100px; /* Margen superior para separar el párrafo de las columnas */
    padding: 120px;
    margin-left: 0px;
}

.seccion-contenido6-v5{
    display: flex;
    align-items:center; /* Centrar verticalmente el contenido */
    justify-content: center; /* Espacio entre las columnas */
    width: 500px;
}

/* Estilo para la columna de la imagen */
.columna-imagen6-v5 {
    flex: 1;
    text-align: center;
}

/* Estilo para la imagen dentro de la columna de imagen */
.columna-imagen6-v5 img {
    max-width: 200px; /* Tamaño máximo de la imagen */
    width: 100px;
    height: auto; /* Mantiene la proporción de aspecto */
}

/* Estilo para la columna de texto al lado derecho */
.columna-texto-v56 {
    flex: 2;
}

/* Estilo para el título */
.columna-texto-v56 h3 {
    font-size: 30px;
    font-weight: 100;
    margin: 0; /* Elimina el margen por defecto del título */
    color: #4D4D4D;
}

/* Estilo para el subtitulo */
.columna-texto-v56 h2 {
    font-size: 35px;
    margin: 0; /* Elimina el margen por defecto del título */    
    color: #4D4D4D;
}

/* Estilos para dispositivos móviles */


/* Sección 4 */


.botonAceptar-v5 {
    margin: 15px;
    width: 145px;
    height: 145px;
    flex-shrink: 0;
    border-radius: 11px;
    background-color: #F4F4F4;    
    border: 2px solid #F4F4F4; 
    margin-right: 20px; 
    color: #4D4D4D; 
    font-family: "Inter", sans-serif; 
    font-size: 15.224px; 
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
}
.botonAceptar-v5 img {
    max-width: 44.224px;
    max-height: 44.8px;
    width: auto; /* Ajusbcta el ancho automáticamente para mantener la proporción */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    filter: invert(28%) sepia(3%) saturate(36%) hue-rotate(18deg) brightness(90%) contrast(81%);
}
.botonAceptar-v5:hover{
    color:#fff;
    cursor: pointer;
    background-color: #F7931E; 
}
.botonAceptar-v5:hover .filtro-v5, .boton2:hover .filtro-v4{
    filter: invert(100%) sepia(94%) saturate(25%) hue-rotate(20deg) brightness(107%) contrast(105%);
}

.seccion-imagen-texto-v5 {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    margin-left: 15px;
}

.seccion-imagen-texto-v5 img {
    width: 78px;
}

.seccion-imagen-texto-v5 .texto {
    margin-left: 20px; /* Espacio entre la imagen y el texto */
}

.textoseparador-v5 p{
    font-weight: bolder;
    margin-left: 20px;
    font-size: 28px;
    color: #4d4d4d;
}

.seccion-imagen-texto-v5 .texto p {
    color: #4D4D4D;
    font-family: 'Lato', sans-serif;
    font-size: 30.385px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



  .rectangulos02-v5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .rectangulo02-v5 ,.rectangulo02v5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%; /* Ajusta el ancho de los rectángulos */
    height: auto;
    max-width: 700px;
    padding: 30px;
    margin-bottom: 20px;
    margin-right: 30px; /* Añade una pequeña separación entre los rectángulos */
    border-radius: 10px;
  }
  .rectangulo02v5{
    width: 60%; /* Ajusta el ancho de los rectángulos */
    height: auto;
    max-width: 1000px;
  }

  
  .imagen-pequena02 {
    width: 150px;
    margin-right: 10px;
  }
  
  .texto-rectangulo02-v5 {
    text-align: left;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
  }

  .texto-rectangulo02-v5 h2{
    font-size: 33px;
    line-height: 1;

  }


  
  .icontenido-columna2-v5 h1,
.icontenido-columna2-v5 h2 {

    font-size: 55px;
    font-style: normal;
    line-height: 0.9;
    margin: 0px;
    margin-bottom: 5px;
}

.icontenido-columna2-v5 h1 {
    color: #FFF;
}

.icontenido-columna2-v5 h2 {
    font-family: "Montserrat Semi Bold", sans-serif;
    color: #F7931E;
}



.textoblanco-v5 h2 {
    font-family: "Montserrat Semi Bold", sans-serif;
    color: #fff;
}

.textobannerb2-v5 {
    position: absolute;
    display: flex;
    margin: 15% 20px 10px 90px;
    z-index: 1;
}

.textobannerb2-v5 {
    margin: 10% 20px 10px 90px;
}

.seccion2op1b-v5{
    position: relative;
    display: flex;
    color: #FFF;
    margin-bottom: 20px;
    overflow: hidden;
    flex-direction: row;
}

.imagen-fondo-v5 {
    width: 100%;
    z-index: 0;
}

  .banner-separador03-v5 {
    display: flex;
    align-items: center;
    background-color: #F4F4F4;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 0px 10px 10px 0px;
}
.cuadroazulv5{
    background-color: #00A99D;
    width: 15px;
    height: 82px;
    text-align: center; /* Centramos el texto */
    color: white; /* Cambiamos el color del texto a blanco */
    writing-mode: vertical-rl; /* Escribimos el texto en vertical */
    transform: rotate(180deg); /* Rotamos el texto en vertical */
    font-size: 12px;
    font-weight: bold;
}
.cuadroverdev5{
    background-color: #79C000;
    width: 15px;
    height: 82px;
    text-align: center; /* Centramos el texto */
    color: white; /* Cambiamos el color del texto a blanco */
    writing-mode: vertical-rl; /* Escribimos el texto en vertical */
    transform: rotate(180deg); /* Rotamos el texto en vertical */
    font-size: 12px;
    font-weight: bold;
}
.cuadronaranjav5{
    background-color: #F7931E;
    width: 15px;
    height: 82px;
    text-align: center; /* Centramos el texto */
    color: white; /* Cambiamos el color del texto a blanco */
    writing-mode: vertical-rl; /* Escribimos el texto en vertical */
    transform: rotate(180deg); /* Rotamos el texto en vertical */
    font-size: 12px;
    font-weight: bold;
}
.rectangulo-izquierdo03-v5 {
    background-color: #4d4d4d;
    padding: 10px 30px 10px 30px; 
    border-radius: 0px 10px 10px 0px;
    height: 100%; 
}

.rectangulo-derecho03-v5 {
    flex: 1;
    padding: 10px;
}

.titulo03-v5 {
    margin: 0;
    margin-left: 20px;
    color: #4d4d4d;
    font-weight: bold;
    font-size: 31px;
    line-height: 1;

}

.banner-separador03-v5 img {
    height: auto;
    width: 45px;
    display: block;
}

.espacioTexto03-v5{
    color: #4d4d4d;
    margin-left: 20px;
    padding-bottom: 10px;
}

.icon-imagen-v5{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


.container-v5 {
    display: flex;
    justify-content: center;
  }
  
  .button-v5 {
    width: 50px;
    height: 50px;
    background-color: #4D4D4D;
    border: none;
    margin: 10px 5px 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

  }
  .button-v5:hover {
    background-color: #F7931E;
  }

  .button-v5 img {
    max-width: calc(100% - 20px); 
    max-height: calc(100% - 20px);
    margin: 10px;
  }
  


/* Estilos para dispositivos con ancho máximo de 1230px */
@media (max-width: 1230px) {

    .rectangulos02-v5 {
        flex-direction: column;
        align-items: center;
    }
    .texto-rectangulo02-v5 {
        text-align: center;
        font-size: 15px;
        line-height: 1.5;
        margin: 0;
    }
    .rectangulo02-v5, .rectangulo02v5 {
        width: 90%; /* Ajusta el ancho de los rectángulos */
    }

}

/* Estilos para dispositivos con ancho máximo de 1250px */
@media (max-width: 1250px) {
    .textobannerb2-v5{
        margin: 9% 20px 10px 80px;
    }
    .contenedorinteractivo-v5{
        flex-direction: column;
        align-items: center;
    }
    .imagen-pequena01-v5 {
        width: 150px;
        margin-right: 25px;
        margin-left: 5px;
      }
    .texto-rectangulo01-v5 {
        text-align: center;
        font-size: 13px;
        line-height: 1.5;
        margin: 0;
    }
    .rectangulos01-v5 {
        flex-direction: column;
        align-items: center;
    }
        .rectangulo01-v5 {
            width: 100%; /* Ajusta el ancho de los rectángulos */
            flex-direction: column;
            height: auto;
            margin-right: 0px;
            padding: 10px;
        }
    .seccion2op1-v5b {
        flex-direction: column;
    }

    .textobanner-v5 img{
        width: 200px;
    }
    .textobanner-v5 h1{
        font-size: 35px;
        margin: 5px;
        line-height: 45px;;
    }
    .textobanner-v5 {
        position: absolute;
        display: flex;
        z-index: 1;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .cont-clase-v5 {
        background-color: #F7931E;
        border-radius: 15px;
        padding-left: 5px;
        padding-right: 5px;
        width: fit-content;
        
        
    }
    .cont-clase-v5 p {
        font-weight: bold; /* Hacer que el texto dentro del párrafo esté en negrita */
        margin: 5px;
    }

}

/* Estilos para dispositivos con ancho máximo de 1200px */
@media (max-width: 1000px) {
    .textobannerb2-v5{
        margin: 8% 20px 10px 80px;
    }
    .columna-video iframe {
        width: 250px;
    }
    .containerg-v5 {
        max-width: 100%;
    }


    #botones-v5 {
        flex-direction: column; /* Cambiar a una disposición de columna en dispositivos móviles */
        align-items: center; /* Centrar horizontalmente los elementos en dispositivos móviles */
        justify-content: center; /* Centrar verticalmente los elementos en dispositivos móviles */
        margin-top: 0; /* Eliminar el margen superior */
        position: static; /* Eliminar la posición absoluta */
        z-index: auto; /* Restaurar el índice Z al valor predeterminado */
    }

    button {
        margin: 10px 0; /* Agregar espacio vertical entre los botones en dispositivos móviles */
    }





    .boton-seccion3.activo {
        background-color: #F7931E; /* Cambia el fondo al pasar el cursor */
        border-color: #F7931E; /* Mantén el borde con el mismo color */
        color: #fff; /* Color de texto al pasar el cursor */
    }

    .boton-seccion3.activo img {
        filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(100%) contrast(100%); /* Restaurar el filtro */
    }

    /* Estilos para el contenedor de información */
    #informacion-v5 {
        margin-top: 20px; /* Añadir espacio en la parte superior */
        padding: 20px; /* Reducir el espacio interior para el contenido */
        height: auto; /* Altura automática en dispositivos móviles */

    }
    .columna-video{
        width: auto;
        height: auto;
    }
    .columna-video iframe{
        width: 300px;
    }


    #seccion3-info-v5 {
        flex-direction: column; /* Cambiar a una disposición de columna en dispositivos móviles */
        padding: 20px; /* Reducir el espacio interior para el contenido */
    }

    .seccion3-info-v5 h2 {
        font-size: 24px; /* Tamaño de fuente para el título */
        margin-bottom: 10px; /* Añadir espacio entre el título y el párrafo */
    }

    .seccion3-info-v5 p {
        margin-left: 0; /* Eliminar el margen izquierdo */
        padding-left: 10px;
    }


    /* Estilos para la sección 6 de información */
    #seccion6-info-v5 {
        flex-direction: column; /* Cambiar a una disposición de columna en dispositivos móviles */
        margin-top: 20px; /* Añadir espacio en la parte superior */
        padding: 20px; /* Reducir el espacio interior para el contenido */
        margin-left: 0; /* Eliminar el margen izquierdo */
    }

    .seccion-contenido6-v5 {
        width: auto; /* Ancho automático en dispositivos móviles */
    }

    .columna-imagen6-v5 img {
        max-width: 100%; /* Tamaño máximo de la imagen */
        height: auto; /* Mantiene la proporción de aspecto */
    }
}

/* Estilos para dispositivos con ancho máximo de 900px */
@media (max-width: 900px) {
    .icontenido-columna2-v5 h1, .icontenido-columna2-v5 h2 {
        font-size: 25px;
    }
    .textobannerb2-v5{
        margin: 8% 10px 10px 50px;
    }
    .textobanner-v5 img{
        width: 150px;
    }
    .textobanner-v5 h1{
        font-size: 35px;
        margin: 2px;
        line-height: 35px;;
    }
    .texto-rectangulo01-v5{
        font-size: 11px;
    }
}

/* Estilos para dispositivos con ancho máximo de 400px */
@media (max-width: 500px) {
    .textobannerb2-v5{
        margin: 8% 10px 10px 20px;
    }
    .icontenido-columna2-v5 h1, .icontenido-columna2-v5 h2, .icontenido-columna2-v5 p {
        font-size: 10px;
    }

    .textobanner-v5 img{
        width: 70px;
    }
    .textobanner-v5 h1{
        font-size: 15px;
        margin: 2px;
        line-height: 20px;;
    }
    .cont-clase-v5 p {
        font-size: 10px;
        margin: 2px;
    }
}
